/* start css buat all */

.hiddenprint{
	 visibility: hidden;
	 position:fixed;
}

@media print {
  body * {
    visibility: hidden;
  }
  #areaprint, #areaprint * {
    visibility: visible;
  }
  #areaprint {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
  }

  .areaprint, .areaprint * {
    visibility: visible;
	max-width:1000px;
  }
  .areaprint {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
  }

  .areaprint input{
    -moz-appearance: textfield;
  	border-style:none;
    border:none;
    background-image:none;
    box-shadow:none;
  }

  .areaprint select{
  	border-style:none;
    border:none;
    background-image:none;
    box-shadow:none;
  }
}

body {
  min-width:600px !important;
  background-color: rgb(250,250,250);
}

.body
{
	min-height:550px;
}

#sidemenu h3{
	padding-left:10px;
	font-weight:bold;
	color:rgb(0,52,108);
	border-bottom:1px solid rgb(0,52,108);
}

#sidemenu a{
	padding-left:10px;
	font-weight:bold;
	color:rgb(50,52,50);
}

#navbar-text{
	position:absolute;
	top:10px;
	left:70px;
	font-size:18px;
	color:rgb(100,100,100);
}

.affix{top:0;z-index:500;width:100%;}

#navbar{
      min-height: 140px;
width:100%;
  }

.dropdown-menu
{
z-index:3000;
}
.navbar-inverse{
	background:rgb(245,245,245);
}
.navbar-lower
{
background:#1998ed;
}


/* end css all ->start css nav */
.navbar-brand 
{
	position:absolute;
	top:0;
	left:0;
	z-index:400;
}

.nav-upper
{
height:70px;
}

.navbar-brand img
{
	height:50px;
	position:absolute;
	top:3;
	left:3;
}

.nav-user{
z-index:3000;
margin-left:75px;
margin-top:17px;
}


.jumbotron
{
	padding:0px !important;
}

/* Navbar */
.body
{
margin-top:50px;
}



.navbar-inverse .navbar-brand{
	color:rgb(0,142,208);
	font-weight:bold;
}

#navbar ul li a
{
	color:rgb(0,142,208);
	font-weight:bold;
	transition:background 0.2s;
	font-height:27px;
}

#navbar .navbar-lower ul li a
{
	color:white;
}
@media(min-width: 768px){
    #navbar .navbar-lower ul li ul li a
	{
		color:rgb(0,142,208);
	}
}


#navbar .navbar-toggle .icon-bar {
    background-color: white;
}


#navbar ul li .highlight:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 17%;
    bottom: 13px;
    width:66%;
    border-width: 0 0 2px;
    border-style: solid;
}
.clearfix{clear:both;}
.logged{
	border:1px solid rgb(235,235,235)
	}

#navbar ul li a img
{
	height:20px;
}

.navbar-toggle
{
border-color:white !important;

	transition:background 0.2s;
}

.navbar-toggle .icon-bar
{
	background:white !important;
}


/* End of Navbar setting cuk*/

/*sign in = masuk*/


.form-login {
	display:block;
    background-color: rgb(253,253,253);
	margin:auto;
	margin-top:50px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 2px rgb(150,150,150);
}

/* End signin */

.dokumen{
		background:rgba(254,254,254,1);
		padding:10px;
		box-shadow:0px 0px 2px black;
		border-radius:5px;
}


.btn-primary
{
	background:rgb(0,142,208);
}

.btn-primary:hover
{
background: rgb(0,112,178);
}

.btn-info
{
background: rgb(0,142,208);
}

.btn-info:hover
{
background: rgb(0,112,178);
}


#logingagal{
	background:rgba(255,0,0,.4);
	padding:5px;
	margin:20px 0;
	border-radius:5px;
	text-align:center;
}


table.form{
	font-size:14px;
}

table.form input{
	margin-left:20px;
	width:250px;
	margin-bottom:5px;
}

table.form select{
	margin-left:20px;
	width:250px;
	margin-bottom:5px;
}
table.form .namaakun{
	margin-left:0px;
	width:200px;
	margin-bottom:5px;
}

table.form .akun{
	margin-left:20px;
	width:125px;
	margin-bottom:5px;
}

table.form textarea{
	margin-left:20px;
	width:250px;
	margin-bottom:5px;
}

.nonaktif{
	background:rgb(200,200,200);
}

.deskripsi_dokumen
{
	width:100%;
}

.deskripsi_dokumen tr td
{
	padding:2px;
}

.jurnal{
	border:1px solid rgb(200,200,200);
}

.juduljurnal{
	background: rgb(0,142,208);
	color:white;
	padding:5px;
}

.jurnalauto{float:right;margin:7px;font-weight:bold;}

.juduljurnal .btn{
}

.kredit{margin-left:20px;}

.deskripsi_dokumen tr th
{
	border-bottom:1px solid rgb(150,150,150);
	padding-bottom:4px;
}

.deskripsi_dokumen td.kanan 
{
	border-left:1px solid rgb(150,150,150);
	padding-left:5px;
}

.icon{height:25px;margin-right:10px;}

.dokumen{background:white;padding:10px;border-radius:5px;box-shadow:0px 0px 2px rgb(0,142,208);}

.nakun.lv2{padding-left:40px;}
.nakun.lv3{padding-left:80px;}


.deskripsi_dokumen
{
	width:100%;
}

.deskripsi_dokumen tr td
{
	padding:2px;
}

.jurnal{
	border:1px solid rgb(200,200,200);
}

.juduljurnal{
	background: rgb(0,142,208);
	color:white;
	padding:5px;
}

.jurnalauto{float:right;margin:7px;font-weight:bold;}

.juduljurnal .btn{
}

.kredit{margin-left:20px;}

.deskripsi_dokumen tr th
{
	border-bottom:1px solid rgb(150,150,150);
	padding-bottom:4px;
}

.deskripsi_dokumen td.kanan 
{
	border-left:1px solid rgb(150,150,150);
	padding-left:5px;
}

.icon{height:25px;margin-right:10px;}

.dokumen{background:white;padding:10px;border-radius:5px;box-shadow:0px 0px 2px rgb(0,142,208);}

.fjurnal{width:1150px;margin:auto;margin-top:20px; }

.bisnis{width:150px !important;}

.form.detail{
	width:100%;
}

.form.detail input{
	margin-left:0px;
}

.form.detail .long{
	width:300px;
}

.form.detail .short{
	width:50px;
}